@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Styles for Menu */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #A3D2B8; /* artea-light-green */
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #347758; /* artea-green */
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #2A3C34; /* artea-dark */
}
/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #347758 #A3D2B8; /* thumb track */
}